[Unit]
Description=Clock service
After=network.target

[Service]
ExecStart=/usr/bin/python3 clock.py
WorkingDirectory=/home/pi/clock/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target